@import "tailwindcss";

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

.scrollbar-hidden {
    -ms-overflow-style: none; /* Hide scrollbar for IE/Edge */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
}

.background {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.925), rgba(0, 0, 0, 0.911)), url('/bg.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
    
    
}